body {
  font-family: 'Josefin Sans', sans-serif;
  background:#6cf;
}

.container {
  height: 430px;
  width: 1000px;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border: 1px solid #08038C;
}

.title {
  padding-top: 20px;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  color: #08038C
}

.question {
  padding: 20px;
  font-size: 22px;
  background: #08038C;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  color: #f6f6f6;
}

.option {
  width: 470px;
  display: inline-block;
  padding: 10px, 0, 10px, 15px;
  vertical-align: middle;
  background: rgba(255, 255, 255, 0.5);
  margin:10px, 0, 10px, 10px;
  color: #000000;
  border-radius: 20px;
}

.next-btn {
  background: rgba(255, 25, 255, 0.5);
  width: 200px;
  height: 35px;
  border-radius: 20px;
  margin: 10px;
}

.result {
  height: 100px;
  text-align: center;
  font-size: 75px;
}
